# front-end library
streamlit

# utilities
numpy
pandas

# for classification
scikit-learn
dlib-bin
git+https://github.com/ageitgey/face_recognition_models
setuptools

# to store data in supabase
supabase

# to make the hash code
bcrypt

# for image processing
segno
pillow


# audio / voice
librosa
webrtcvad-wheels